<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <span>Bookers</span>
        </a>
        <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to(content_tag(:i, 'Home', class: 'fas fa-home nav-link text-light'), user_path(current_user.id)) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, 'Users', class: 'fas fa-users nav-link text-light'), users_path) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, 'Books', class: 'fas fa-book-open nav-link text-light'), books_path) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, 'logout', class: 'fas fa-sign-out-alt nav-link text-light'), destroy_user_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li>
                <%= link_to(content_tag(:i, 'Home', class: 'fas fa-home nav-link text-light'), root_path) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, 'About', class: 'fas fa-link nav-link text-light'), home_about_path) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, 'sign up', class: 'fas fa-user-plus nav-link text-light'), new_user_registration_path) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, 'login', class: 'fas fa-sign-in-alt nav-link text-light'), new_user_session_path) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </body>
</html>
